/* box sizing */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
/* layout */
html {
	min-height: 100%;
}
body {
	margin: 0;
}
html,
body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

space-element {
}
